@media screen and (max-width:1200px) {}

@media screen and (max-width:991px) {
  .menu-icon {
    font-size: 22px;
    padding: 6px 11px;
  }

  .main-navbar ul li a {
    font-size: 15px;
  }

  .banner-text h1 {
    margin-top: 60px;
  }

  .banner-image {
    height: 550px;
  }

  .pages-intro-text-wrapper p {
    font-size: 15px;
  }

  .home-page-cards {
    height: 220px;
  }

  .home-page-cards-content a h3 {
    font-size: 21px;
  }

  .section-heading {
    font-size: 45px;
  }

  .home-page-selected-hotels-cards-image {
    height: 280px;
  }

  .home-page-selected-hotels-cards-content {
    top: 75%;
  }

  .home-page-selected-hotels-cards:hover .home-page-selected-hotels-cards-content {
    top: 30%;
  }

  .pages-signup-wrapper h3 {
    font-size: 26px;
  }

  input.pages-signup-input {
    width: 50%;
    padding: 8px 10px;
    font-size: 14px;
  }

  .pages-signup-submit-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .pages-blog-cards-image {
    height: 290px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .accordion-body {
    font-size: 15px;
  }

  .disclaimer-wrapper h3 {
    font-size: 28px;
  }

  .disclaimer-wrapper p {
    font-size: 15px;
  }

  .copyright p {
    font-size: 15px;
  }

  .footer-wrapper {
    max-width: 700px;
  }

  .footer .footer-items ul li a {
    font-size: 18px;
  }

  /* Pages CSS Start */
  .pages-banner-text h1 {
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .pages-banner-text h3 {
    font-size: 25px;
    max-width: 350px;
    margin: 0 auto;
  }

  .pages-cards-wrapper h2 {
    font-size: 30px;
  }

  .pages-cards-image {
    height: 280px;
  }
  .pages-cards-content {
    padding: 0 5px;
}

  .pages-cards-content h3 {
    font-size: 26px;
  }

  .pages-cards-content h5 {
    font-size: 22px;
  }

  .pages-cards-group p,
  .pages-cards-content ul li {
    font-size: 16px;
  }

  /* Pages CSS End */

  /* Other Pages CSS Start */
  .privacy-policy-group h3,
  .terms-conditions-group h3 {
    font-size: 26px;
  }

  .privacy-policy-group h3 a {
    font-size: 24px;
  }

  .privacy-policy-group p,
  .privacy-policy-group ul li,
  .terms-conditions-group p,
  .terms-conditions-group ul li {
    font-size: 16px;
  }

  .terms-conditions-group h4 {
    font-size: 16px;
  }
  /* Other Pages CSS End */

  /* Blog Pages CSS Start */
  .blog-page-cards h3 {
    font-size: 25px;
  }

  .blog-page-cards p {
    font-size: 15px;
  }

  .blog-after-cards-text-wrapper p {
    font-size: 16px;
  }
  .blog-banner-text h3 {
    font-size: 34px;
    margin-top: 42px;
  }
  .blog-page-cards {
    min-height: 350px;
}
  /* Blog Pages CSS End */
}

@media screen and (max-width:767px) {
  .menu-icon {
    font-size: 22px;
    padding: 6px 15px;
  }

  .banner-text h1 {
    margin-top: 60px;
    font-size: 50px;
  }

  .banner-image {
    height: 420px;
  }

  .pages-intro-text-wrapper p {
    font-size: 14px;
  }

  .home-page-cards {
    height: 280px;
  }

  .section-heading {
    font-size: 40px;
  }

  .home-page-selected-hotels-cards-image {
    height: 280px;
  }

  .home-page-selected-hotels-cards-content {
    top: 70%;
  }

  .home-page-selected-hotels-cards-content h3 {
    padding: 20px 0 40px 0;
    font-size: 24px;
    max-width: 300px;
    margin: 0 auto;
  }

  .home-page-selected-hotels-cards:hover .home-page-selected-hotels-cards-content {
    top: 20%;
  }

  .home-page-selected-hotels-cards-content h5 {
    font-size: 20px;
  }

  .home-page-selected-hotels-cards-content p {
    font-size: 15px;
  }

  .pages-signup-wrapper h3 {
    font-size: 24px;
  }

  input.pages-signup-input {
    width: 90%;
    padding: 7px 10px;
    font-size: 14px;
  }

  .pages-signup-submit-button {
    padding: 7px 15px;
    font-size: 14px;
    margin-top: 10px;
  }

  .pages-blog-cards-image {
    height: 250px;
  }

  .accordion-button {
    font-size: 15px;
  }

  .accordion-body {
    font-size: 14px;
  }

  .disclaimer-wrapper h3 {
    font-size: 26px;
  }

  .disclaimer-wrapper p {
    font-size: 14px;
  }

  .footer-items {
    width: 50%;
    padding: 0;
  }

  .footer .footer-items ul li a {
    font-size: 16px;
  }

  .logo-bottom {
    max-width: 170px;
  }

  .copyright p {
    font-size: 14px;
  }

  /* Pages CSS Start */
  .pages-banner-text h1 {
    font-size: 27px;
  }

  .pages-banner-text h3 {
    font-size: 21px;
    max-width: 300px;
  }

  .pages-cards-wrapper h2 {
    font-size: 28px;
  }

  .pages-cards-image {
    height: 250px;
  }

  .pages-cards-content {
    padding: 15px 0;
  }
  .btn-darkred-block,
  .external-pages-link-btn {
    padding: 9px 10px;
    font-size: 14px;
  }

  .pages-cards-content h3 {
    font-size: 23px;
  }

  .pages-cards-content h5 {
    font-size: 20px;
  }

  .pages-cards-group p,
  .pages-cards-content ul li {
    font-size: 15px;
  }

  .pages-cards-image {
    height: 240px;
  }

  /* Pages CSS End */


  /* Other Pages CSS Start */
  .privacy-policy-group h3,
  .terms-conditions-group h3 {
    font-size: 24px;
  }

  .privacy-policy-group h3 a {
    font-size: 22px;
  }

  .privacy-policy-group p,
  .privacy-policy-group ul li,
  .terms-conditions-group p,
  .terms-conditions-group ul li {
    font-size: 15px;
  }
  /* Other Pages CSS End */

  /* Blog Pages CSS Start */
  .blog-page-cards h3 {
    font-size: 24px;
  }

  .blog-page-cards p {
    font-size: 14px;
  }

  .blog-after-cards-text-wrapper p {
    font-size: 15px;
  }
  .blog-banner-text h3 {
    font-size: 38px;
    margin-top: 40px;
  }
  .blog-page-cards {
      min-height: 420px;
}
  /* Blog Pages CSS End */

}

@media screen and (max-width:575px) {
  .menu-icon {
    font-size: 22px;
    padding: 5px 12px;
  }

  .main-navbar {
    width: 100%;
  }

  .banner-text h1 {
    margin-top: 60px;
    font-size: 45px;
  }

  .banner-image {
    height: 370px;
  }

  .pages-intro-text-wrapper p {
    font-size: 13px;
  }

  .home-page-cards {
    height: 260px;
  }

  .section-heading {
    font-size: 35px;
  }

  .home-page-selected-hotels-cards-image {
    height: 250px;
  }

  .home-page-selected-hotels-cards-content {
    top: 75%;
  }

  .home-page-selected-hotels-cards:hover .home-page-selected-hotels-cards-content {
    top: 0%;
  }

  .home-page-selected-hotels-cards-content h3 {
    padding: 20px 0;
    font-size: 23px;
  }

  .home-page-selected-hotels-cards-content h5 {
    font-size: 20px;
  }

  .home-page-selected-hotels-cards-content p {
    font-size: 15px;
  }

  .pages-signup-wrapper h3 {
    font-size: 22px;
    padding: 0 5px;
  }

  input.pages-signup-input {
    width: 90%;
    padding: 7px 10px;
    font-size: 13px;
  }

  .pages-signup-submit-button {
    padding: 7px 15px;
    font-size: 13px;
  }

  .pages-blog-cards-image {
    height: 200px;
  }

  .accordion-button {
    font-size: 14px;
  }

  .accordion-body {
    font-size: 13px;
  }

  .disclaimer-wrapper h3 {
    font-size: 24px;
  }

  .disclaimer-wrapper p {
    font-size: 13px;
  }

  .social-icons i {
    width: 35px;
    height: 35px;
  }

  .footer .footer-items ul li a {
    font-size: 15px;
  }

  .copyright p {
    font-size: 13px;
  }

  /* Pages CSS Start */
  .pages-banner-text h1 {
    font-size: 24px;
  }

  .pages-cards-image {
    height: 210px;
  }

  .pages-banner-text h3 {
    font-size: 19px;
    max-width: 300px;
  }

  .pages-cards-wrapper h2 {
    font-size: 26px;
  }

  .pages-cards-content h3 {
    font-size: 20px;
  }

  .pages-cards-content h5 {
    font-size: 18px;
  }

  .pages-cards-group p,
  .pages-cards-content ul li {
    font-size: 14px;
  }

  .btn-darkred-block,
  .external-pages-link-btn {
    padding: 9px 10px;
    font-size: 13px;
  }

  /* Pages CSS End */

  /* Other Pages CSS Start */
  .privacy-policy-group h3,
  .terms-conditions-group h3 {
    font-size: 22px;
  }

  .privacy-policy-group h3 a {
    font-size: 20px;
  }

  .privacy-policy-group p,
  .privacy-policy-group ul li,
  .terms-conditions-group p,
  .terms-conditions-group ul li {
    font-size: 14px;
  }

  .terms-conditions-group h4 {
    font-size: 15px;
  }

  /* Other Pages CSS End */

  /* Blog Pages CSS Start */
  .blog-page-cards h3 {
    font-size: 22px;
  }

  .blog-page-cards p {
    font-size: 13px;
  }

  .blog-after-cards-text-wrapper p {
    font-size: 14px;
  }

  .blog-banner-text h3 {
    font-size: 34px;
    margin-top: 40px;
  }
  /* Blog Pages CSS End */

}

@media screen and (max-width:480px) {
  .logo {
    max-width: 150px;
  }

  .menu-icon {
    font-size: 19px;
    padding: 3px 10px;
  }

  .banner-text h1 {
    margin-top: 50px;
    font-size: 32px;
  }

  .banner-image {
    height: 280px;
  }

  .pages-intro-text-wrapper p {
    font-size: 12px;
  }

  .home-page-cards {
    height: 220px;
  }

  .section-heading {
    font-size: 28px;
  }

  .home-page-selected-hotels-cards-image {
    height: 220px;
  }

  .home-page-selected-hotels-cards-content {
    top: 55%;
  }

  .home-page-selected-hotels-cards-content h3 {
    padding: 30px 0 45px 0;
    font-size: 23px;
  }

  .home-page-selected-hotels-cards-content h5 {
    font-size: 18px;
  }

  .home-page-selected-hotels-cards-content p {
    font-size: 16px;
  }

  .pages-signup-wrapper h3 {
    font-size: 20px;
  }

  input.pages-signup-input {
    padding: 6px 10px;
    font-size: 12px;
  }

  .pages-signup-submit-button {
    padding: 6px 15px;
    font-size: 12px;
  }

  .pages-blog-cards-image {
    height: 180px;
  }

  .accordion-button {
    font-size: 13px;
  }

  .accordion-body {
    font-size: 12px;
  }

  .disclaimer-wrapper h3 {
    font-size: 22px;
  }

  .disclaimer-wrapper p {
    font-size: 12px;
  }

  .footer-items {
    width: 100%;
    text-align: center;
  }

  .logo-bottom {
    margin-bottom: 20px;
  }

  .footer-wrapper {
    justify-content: center;
  }

  .footer .footer-items ul li a {
    font-size: 14px;
  }

  .copyright p {
    font-size: 12px;
  }

  /* Pages CSS Start */
  .pages-banner-text h1 {
    font-size: 22px;
  }

  .pages-banner-text h3 {
    font-size: 17px;
    max-width: 260px;
  }

  .pages-cards-wrapper h2 {
    font-size: 24px;
  }

  .pages-cards-image {
    height: 170px;
  }

  .pages-cards-content h3 {
    font-size: 18px;
  }

  .pages-cards-content h5 {
    font-size: 16px;
  }

  .pages-cards-group p,
  .pages-cards-content ul li,
  .terms-conditions-group p,
  .terms-conditions-group ul li {
    font-size: 13px;
  }

  .btn-darkred-block,
  .external-pages-link-btn {
    padding: 8px 3px;
    font-size: 11px;
    font-weight: 600;
  }

  /* Pages CSS End */

  /* Other Pages CSS Start */
  .privacy-policy-group h3,
  .terms-conditions-group h3 {
    font-size: 20px;
  }

  .privacy-policy-group h3 a {
    font-size: 18px;
  }

  .privacy-policy-group p,
  .privacy-policy-group ul li {
    font-size: 13px;
  }

  /* Other Pages CSS End */

  /* Blog Pages CSS Start */
  .blog-icons {
    font-size: 35px;
  }

  .blog-page-cards h3 {
    font-size: 20px;
  }

  .blog-page-cards p {
    font-size: 12px;
  }

  .blog-after-cards-text-wrapper p {
    font-size: 13px;
  }

  .blog-banner-text h3 {
    font-size: 28px;
  }
  /* Blog Pages CSS End */
}